<div class="nav-border">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/home-component']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/score-table-component']" >Score Table</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/rules-component']">Rules</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/enter-score-component']">Enter Score</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/register-player-component']">Register Player</a>
  </li>
</ul>
</div>
