<div class="container text-center">

<p> Eight-ball pool can be played as a singles or doubles game and is played with cues and 16 balls, 15 object balls, and one cue ball (the ball the players strike to try and hit the other balls). Pool can be a relatively high-speed game compared to its close relatives snooker and billiards but that makes it no less skilful with players requiring a high degree of skill, concentration, and tactical thinking to play the game at a high level. </p> 

<h2>Object of the Game</h2>
<p> object of pool is to pot all of your designated balls (either stripes or solids) and then pot the 8 ball, thus winning the game. As pool matches often consist of several games in a ‘best out of’ format, players attempt to win as many games as needed to win the match. Players must use their skills in both attack and safety play, as well as tactical nous to help them win the match.</p>

<h2>Players & Equipment</h2>
<p>To play pool, the following pieces of equipment are required:</p>

<ol>
<li>Table: The table used in pool is approximately 9 feet by 4.5 feet although games can often be played on differing sized tables.</li>
<li>Balls: 16 balls in total, comprising a white cue ball, seven striped balls, seven solid balls, and one black ball (8 ball).</li>
<li>Cues: Players have a cue each which can be made from wood, carbon fibre, or fibreglass and this is used for striking the cue ball.</li>
<li>Chalk: To ensure they have more control over their shots, each player tends to chalk the end of their cue to ensure there is good contact between the cue and the ball.
Scoring</li>
</ol>

<p>There is no score as such in pool with both players simply attempting to pot all of their designated object balls and then potting the 8 ball into the pocket that they have chosen. However, pool matches are often played over a number of games, so for example, in a best of nine frame match, the first player to reach five frames would be declared the winner.</p>

<h3>Winning the Game</h3>
<p>8 Ball pool is won when one of the following occurs:</p>

<li>A player pots all of their designated balls and then legally pockets the 8 ball into their nominated pocket.</li>
<li>The opposing player illegally pots the 8 ball before clearing their own set of balls.</li>
<li>The 8 ball is knocked of the table by the opposition.</li>

Rules of Pool
The rules of pool are some of the most contested of any sport, with slightly differing variations being played in different countries, cities, areas, and even establishments. However, the World Pool Billiard Association (WPA) have produced a standardized set of rules for both amateur and professionals by which to abide.

Before the game begins, the object balls should be placed in a triangular rack and positioned at the lower end of the table so that the apex ball of the rack lies on the foot spot. The order of the balls should be random apart from the black 8-ball, which should be placed in the middle of the third row. The white ball should be placed anywhere behind the service line on the table.
If it is the first game in a match, a coin should be tossed to decide who gets to choose whether to break. After that, the break is taken in turns.
To make a legal break, the player must hit the balls and ensure that four balls hit cushions and that the cue ball doesn’t go down a pocket. If the 8-ball is potted on the break, the player is entitled to ask for a re-rack.
The first player to pot an object ball will then have to continue to pot the balls from that category (stripes or solids). The opposition player will have to pot the other group.
A player will continue to make shots until they foul, or fail to pot an object ball. Then it is the turn of the opposing player. Play continues like this for the remainder of the game.
If a player commits a foul, the opposition player is entitled to place the cue ball anywhere on the table. There are numerous fouls in pool, some of the most common being:
Failing to hit your own object balls.
Hitting the cue ball off the table.
Potting one of the opposition's object balls.
Hitting the cue ball twice.
Pushing the cue ball rather than striking it.
A player taking a shot when it is not their turn.
Once all of a player’s balls have been potted, they must then sink the 8 ball. They must first designate which pocket they intend to pot the 8-ball in and then do as stated. Failure to do so will result in the opposition player returning to the table. If the player pots the 8 ball in any other pocket other than the nominated one, they forfeit the game.
</div>
